.users {
  width: 95%;
  height: 95%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 100px;
}

.singleUser {
  width: 20%;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.35);
  background-color: gainsboro;
}

.singleUserAvatar {
  width: 50%;
  margin: 1rem;
}

.noResultsFound {
  margin: 9rem auto;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
}