.inputDiv {
  text-align: center;
}

.searchInput {
  border: 1px solid black;
  outline: 1px solid black;
  border-radius: 5px;
  margin: 5.5rem auto auto 2rem;
  padding: 0.5rem;
  text-align: center;
  align-items: center;
  width: 37%;
}
